/vendor/
/.idea/
/.vscode/

/storage/cache/*
/storage/logs/*

!storage/cache/.gitkeep
!storage/logs/.gitkeep

/public/assets/img/uploads/*
!public/assets/img/uploads/.gitkeep

/config/database.php

*.log
*.cache

.DS_Store
Thumbs.db
desktop.ini